* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

#outer {
    background: url(game_bg.jpg) 0 0 no-repeat;
    height: 480px;
    width: 320px;
    position: relative;
    margin: 0 auto;
}

#fraction {
    position: absolute;
    color: white;
    left: 65px;
    top: 13px;
}

#time {
    position: absolute;
    background: url(progress.png) 0 0 no-repeat;
    width: 180px;
    height: 16px;
    left: 63px;
    top: 66px;
}
#wolfs{
    position: absolute;
}
#wolfs img {
    position: absolute;
}
#menu {
    width: 150px;
    line-height: 35px;
    text-align: center;
    background-color: #C50000;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}
#menu #start{
    color: #eee;
}
#start,
#reload,
#end {
    line-height:50px; 
    font-size:30px; 
    font-weight:bold; 
    display:block; 
    text-decoration:none;
}

#end {
    position: absolute;
    width: 320px;
    text-align: center;
    color: #f00;
    top: 200px;
    left: 0;
    display: none;
}

#reload {
    display: none;
    width: 150px;
    line-height: 35px;
    text-align: center;
    color: white;
    background:green;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 320px;
    left: 50%;
    margin-left: -75px;
}
